# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# yarn
yarn.lock

# npm
package-lock.json

# webpack
.webpack

# .dynamodb
.dynamodb

# s3
.local_bucket

# serverless-middleware
.middleware
